body {
    font-family: Lato, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    opacity: 95%;
}

#backToTop:hover {
    cursor: pointer;
}

#about {
    padding-top: 5em; /* to pull content down from fixed navbar */
    background-color: rgb(123, 255, 233);
    background-clip: padding-box;
    margin-left: 0;
}

.border-site {
    border: 10px solid rgb(123, 255, 233);
    border-radius: 10px;
}

.bg-site {
    background-color: rgb(123, 255, 233);
}


/* waves and animation source: https://gist.github.com/arthurota/6c488ad8f82bdb8b58b60bbfc7ded54a */
.waves {
    position:relative;
    width: 100%;
    height:8vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:80px;
    max-height:150px;
    transform: scaleY(-1);
  }

  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }
    h1 {
      font-size:24px;
    }
  }
/*
.main-bg {
    background-color: rgb(47, 226, 187);
}

.dropdown-bd {
    border: 2px solid rgb(74, 241, 205);
}

.round-border {
    border-radius: 5%;
    border: 5px solid white;
}

.white-text {
    color: white;
}

#summary ul {
    list-style-type: none;
    font-size: large;
    font-weight: bold;
    padding: 10px 0;
}

.top-list-container {
    border-radius: 5%;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}*/